:root
{
    --Light-Pime-Bg-Color: #f4e4de;

    --Light-Secunddari-Bg-Color: #eedad3;

    --Light-h1-Color: rgb(21, 21, 22);

    --Light-text-Color: rgb(233, 233, 233);


    --Dark-Pime-Bg-Color: #27274b;

    --Dark-Secunddari-Bg-Color: #161616;

    --Dark-h1-Color: rgb(216, 216, 216);

    --Dark-text-Color: rgb(175, 175, 175);
}

*
{
    margin: 0;
}


body
{
    background-color: var(--Light-Pime-Bg-Color);
    opacity: 1;
    background: repeating-linear-gradient( 45deg, var(--Light-Secunddari-Bg-Color), var(--Light-Secunddari-Bg-Color) 20px, var(--Light-Pime-Bg-Color) 20px, var(--Light-Pime-Bg-Color) 100px );
}

body.dark
{
    background-color: var(--Dark-Pime-Bg-Color);
    opacity: 1;
    background-image: radial-gradient(circle at center center, var(--Dark-Secunddari-Bg-Color), var(--Dark-Pime-Bg-Color)), repeating-radial-gradient(circle at center center, var(--Dark-Secunddari-Bg-Color), var(--Dark-Secunddari-Bg-Color), 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
}


#ChangeColorMode
{
    position: fixed;

    bottom: 100px;
    right: 100px;
    width: clamp(140px, 16.2vw + 5px, 200px);
    aspect-ratio: 1/1;

    border-radius: 50%;

    background-color: #010825;
    background-image: url(Assets/moon.svg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;

    -webkit-transform: translateZ(0);
}

#ChangeColorMode.dark
{
    background-color: #61a1b1;
    background-image: url(Assets/sun.svg);
}


main
{
    text-align: center;
}


h1
{
    margin-top: 14rem;
    margin-bottom: 10rem;

    font-family: 'Great Vibes', cursive;
    font-size: 8rem;

    color: var(--Light-h1-Color);
}

h1.dark
{
    color: var(--Dark-h1-Color);
}


#Piece1
{
    width: 90%;

    margin-bottom: 7rem;
}


#Piece1Description
{
    color: var(--Light-text-Color);

    background-color: rgba(0, 0, 0, 0.466);
    
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 7rem;
}

#Piece1Description.dark
{
    color: var(--Dark-text-Color);

    background-color: transparent;
}


#Piece1Description > p
{
    margin-bottom: 6.5rem;

    padding: 1.5rem;

    text-align: justify;

    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
}


#Piece1Description > p::first-letter
{
    margin-left: 9%;
}


#Pice2
{
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-items: stretch;

    width: 90vw;
    height: calc(90vw/1.77);

    margin-bottom: 7rem;
}


#Pice2 > img
{
    flex-grow: 1;
    object-fit: cover;
    width: 0;
}


#Piece2Description
{
    color: var(--Light-text-Color);

    background-color: rgba(0, 0, 0, 0.466);
    
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10rem;
}

#Piece2Description.dark
{
    color: var(--Dark-text-Color);

    background-color: transparent;
}


#Piece2Description > p
{
    margin-bottom: 6.5rem;

    padding: 1.5rem;

    text-align: justify;

    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
}


#Piece2Description > p::first-letter
{
    margin-left: 9%;
}


h2
{
    font-family: 'Noto Serif Display', serif;
    font-size: 4rem;

    color: var(--Light-h1-Color);

    margin-bottom: 5rem;
}

h2.dark
{
    color: var(--Dark-h1-Color);
}


#Pdf
{
    margin-bottom: 15rem;
}